.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    &-1{
        background-color: cornflowerblue;
    }
    &-2{
        background-color: coral;
    }
    &-3{
        background-color: greenyellow;
    }
}