.block-text {
    border-bottom: 1px solid #fff;
    margin: 100px 0;
    height: 500px;
    width: 100%;
    text-align: center;
    align-items: center;
    &__information {
        padding: 0 120px;
        font-family: "Raleway", sans-serif;
        color: #ffffff;
        font-size: 18px;
    }
    & img {
        max-width: 200px;
        max-height: 300px;
    }
}