.award {
    margin: 100px 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    & h3 {
        color: #fff;
        font-size: 32px;
    }
    & p {
        color: #fff;
        font-size: 25px;
    }
    & img {
        width: 60%;
        height: 40%;
    }
}
