.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    :focus{
        color: #ff5c35;
    }
    &__menu {
        display: none;
        position: absolute;
        top: 40px;
        left: -10px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        &-link {
            background-color: #000;
            padding: 10px 16px;
            font-size: 16px;
            text-decoration: none;
            display: block;
            color: #b7b7b7;
            cursor: pointer;
            :hover {
                color: #ff5c35;
                background-color: #fff;
            }
        }
    }
}

.showBlock {
    display: block;
}
